body{
    padding: 0;
    margin: 0;  
}
h1 {
    color: pink;
}

.irina{
    font-size: 30px;
}
.ira{
    font-size: 25px;
}
/*.container{
    width: 1610px;
    height: 940px;


}
    */
    .container{
        width: 100%;
    
    }
section{
    width: 100%;
    height: 100vh;
    margin-top: 50px;

}
.header {
     background: url('../img/11.jpg') no-repeat center ;
      width: 100%;
      height: 100vh;
     background-size: cover;
     display: flex;
    justify-content: center;
    
}

header a {
    color: #fff;
}
.menu {
    display: flex;
}
  text-transform:uppercase;
}
/*    все капс/
    text-decoration: none;
/    без нижнего подчеркивания*/
    font-size:14px;
}
.menu {
    display: flex;
}
.menu li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 0.1em;
}
.menu li a{
    margin-right: 40px;
    color: black;
}
.tell{
    font-size: 20px;
    text-decoration: none;
    margin-left: auto;
    letter-spacing: 0.1em;
}
/*.nav {
    padding-top: 57px;
    justify-content: center;
    height: 30px;
    display: flex;
}
    */
.logo{
    margin-right: 100px;
}
.description {
    display: flex;
    justify-content: space-between;
}
.gg {
    font-family: 'Open Sans';
    font-weight: 300px;
    text-align: justify;
    line-height: 1.62em;
    background: rgba(255, 182, 193, 0.5);
    border:5px: solid black;
    width: 100%;
    
    padding: 25px;
    border-radius: 10px 20px 30px 40px;

}
.ff {
    font-family: 'Open Sans';
    font-weight: 300px;
    text-align: justify;
    line-height: 1.62em;
    background: rgba(255, 182, 193, 0.5);
    border:5px solid black;
    width: 100%;
    margin: 10px;
    padding: 25px;
    border-radius: 10px 20px 30px 40px;
}

.footer{
    height: 100px;
    width: 100%;
    background-color: pink;
    margin-top: auto;
}
.photo {
    width: 100%;
    display: flex;
   justify-content:space-between;
  padding: 25px;
  flex-direction:center;
    
}
.ABOUT{
    display: flex;
    justify-content: center;
    align-items: center;

}
#cAbout{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media all and (max-width: 500px) {
    .li a{
        color: red;
    }
}

.TopMenu{
	height: 100px;
	width: 100%;
	background-color: #023047;
		display: flex;
	align-items: center;
	justify-content: space-around;
	font-family: "Open Sans", sans-serif;
	font-size: 28px;
	color:white;
   

}
.nav{
	margin-right: auto;
}

.navItem{
	color: white;
	text-decoration: none;
	margin-right: 50px;
	font-weight: 450;
	transition: color 0.3s linear;
}
.navItem:hover {
    color: #8ECAE6;
    }
.Tm1{
	padding-left: 25px;

}
   
.cart{
	margin-right: 60px;
}
.login{
	font-weight: 450;
}
.loginA{
	transition: color 0.3s linear;
}
.loginA:hover{
	color:#8ECAE6;
}